source_env .config/direnvrc
ensure_all_documented

save_defined
# BASE_URL: the development base URL of the application, e.g. 'http://localhost:4001'
export BASE_URL=http://localhost:4001
# BLOG_CMS_BASIC_AUTH_USER: the basic auth user to access the CMS
export BLOG_CMS_BASIC_AUTH_USER=
# BLOG_CMS_BASIC_AUTH_PASSWORD: the basic auth password to access the CMS
export BLOG_CMS_BASIC_AUTH_PASSWORD=
# BLOG_CMS_GRAPHQL_ENDPOINT: the GraphQL endpoint for the CMS
export BLOG_CMS_GRAPHQL_ENDPOINT=
# IMGPROXY_BASE_URL: the base URL of the image proxy
export IMGPROXY_BASE_URL=
# IMGPROXY_KEY: the key to use with the image proxy
export IMGPROXY_KEY=
# IMGPROXY_SALT: the salt to use with the image proxy
export IMGPROXY_SALT=
# LIVE_ASSET_HOST: the host for live assets, e.g. '//localhost:8080'
export LIVE_ASSET_HOST=//localhost:8080
source_env .envrc.private
fail_on_unknown
ensure_all_set
