# BASE_URL: the development base URL of the application, e.g. 'http://localhost:4001'
export BASE_URL=http://localhost:4001
# IMAGE_BASE_URL: the base URL for images, e.g. 'https://images.example.com'
export IMAGE_BASE_URL=
# LIVE_ASSET_HOST: the host for live assets, e.g. '//localhost:8080'
export LIVE_ASSET_HOST=//localhost:8080
# PAYLOADCMS_API_KEY: the API key to access the PayloadCMS GraphQL API
export PAYLOADCMS_API_KEY=
# PAYLOADCMS_GRAPHQL_ENDPOINT: the GraphQL endpoint for the CMS
export PAYLOADCMS_GRAPHQL_ENDPOINT=

source_env_if_exists .envrc.private
