export DATOCMS_API_KEY=
export BASE_URL=http://localhost:4001
export NODE_OPTIONS=--openssl-legacy-provider
export LIVE_ASSET_HOST=//localhost:8080

[[ -f .envrc.private ]] && source_env .envrc.private
