@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@import "./prism";

@theme {
  --color-light-olive: #f0f0d0;
  --color-olive: #808000;
  --color-dark-olive: #556b2f;
  --color-very-dark-olive: #323f1b;
}

@layer base {
  /* base overrides: BEGIN */
  a {
    @apply text-very-dark-olive;
  }
  a:hover {
    @apply text-olive;
  }
  a:active {
    @apply text-olive;
  }

  h1 {
    @apply text-center;
    @apply text-2xl;
    @apply font-bold;
    @apply mt-8;
    @apply mb-4;
  }

  h2 {
    @apply text-xl;
    @apply font-bold;
    @apply mt-8;
    @apply mb-4;
  }

  h3 {
    @apply text-lg;
    @apply font-bold;
    @apply mt-6;
    @apply mb-2;
  }
  /* base overrides: END */
}

@layer components {
  /* components: BEGIN */
  .paginate {
    @apply mt-16;
    @apply flex;
    @apply gap-4;
    @apply justify-center;
    @apply text-xl;
    @apply list-none;
  }
  .paginate a {
    @apply rounded;
    @apply px-4;
    @apply py-2;
    @apply bg-olive;
    @apply text-black;
  }
  .paginate a.disabled {
    @apply bg-slate-300;
  }
  /* components: END */
}

/* Smaller code on mobile */
code[class*="language-"],
pre[class*="language-"] {
  @apply text-sm;
  @apply md:text-base;
}
