:root
  // Colours
  --table-border-colour: #202000
  --table-cell-border-colour: #404020
  --table-row-odd-colour: #f0f0d0
  --table-row-even-colour: #e0e0c0

.post
  ul
    padding: 0

  li
    padding: 0
    line-height: 1.2

  h1
    font-size: 1.4rem

  h2
    font-size: 1.2rem

  p
    padding: 0.3rem 0 0 0

  .table
    margin: 1rem 0 0 0
    border-spacing: 0
    border-collapse: collapse
    border: 0.1rem solid var(--table-border-colour)

    tbody
      tr:nth-child(odd)
        background-color: var(--table-row-odd-colour)

      tr:nth-child(even)
        background-color: var(--table-row-even-colour)

      td
        padding: 0.1rem
        border: 0.1rem solid var(--table-cell-border-colour)
